@use 'functions' as *;
@use 'typography' as *;

.articleCard {
  display: block;
  border: 1px solid var(--color-neutral-90);
  padding: grid(6) grid(4) grid(6) grid(4);
  margin-bottom: grid(2);
  border-radius: grid(2);
  background: var(--color-surface-accent);
  box-shadow: var(--shadow-xs);
  transition: all 0.2s ease-in-out;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.articleCard:hover {
  cursor: pointer;
  background: var(--color-accent-whisper);
  border: 1px solid rgba(var(--color-primary-rgb), var(--opacity-fade-half));

  .title {
    background-size: 100% 4px;
  }
}

.articleCardButtonHovered:hover {
  background: var(--color-surface-accent);
  border: 1px solid var(--color-neutral-90);

  .title {
    background-size: 0% 4px;
  }
}

.topRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: grid(6);
  align-items: flex-start;

  --author-date-hover-background: var(--color-accent-faint);
  --author-date-hover-border-color: rgba(
    var(--color-primary-rgb),
    var(--opacity-fade-half)
  );
}

.title {
  @include title-large;
  line-height: 1.2;
  margin-bottom: grid(2);
  color: var(--color-blue-20);
  display: inline;
  position: relative;
  background-image: linear-gradient(
    to right,
    var(--color-accent) 0%,
    var(--color-accent) 100%
  );
  background-size: 0% 4px;
  background-position: left bottom 2px;
  background-repeat: no-repeat;
  transition:
    background-size 250ms,
    color 200ms;
  padding-bottom: grid(0.5);
}

.description {
  color: var(--color-neutral-10);
  margin-top: 0.5rem;
}

.bottomRow {
  margin-top: grid(2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tags {
  max-width: 60%;
}

.tag {
  @include label-2xs;
  border-radius: grid(2);
  border: 1px solid rgba(var(--color-primary-rgb), 0.7);
  color: rgba(var(--color-primary-rgb), 0.9);
  padding: grid(1) grid(2);
  margin: 0 grid(1) 0 0;
  background: var(--color-neutral-100);
}

.favorite {
  padding: grid(2);
  border-radius: grid(1);
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;

  &:hover {
    border-color: var(--color-primary);
    background: var(--color-accent-light);
  }

  &:active {
    transform: scale(0.95);
  }
}

.favoriteButton:hover:not(:disabled) {
  background-color: var(--color-accent-faint);
  box-shadow: var(--shadow-xs);
}

.favoritePathOutline {
  fill: rgba(var(--color-primary-rgb), 0.7);
}

.favoritePathFill {
  fill: var(--color-primary);
}

.favoriteCount {
  margin-left: grid(1);
}

.favoriteReadout {
  padding: grid(2);
}
