@use 'functions' as *;
@use 'typography' as *;

.articleCard {
  display: block;
  border: 1px solid var(--color-neutral-90);
  padding: grid(6) grid(4) grid(6) grid(4);
  margin-bottom: grid(2);
  border-radius: grid(2);
  /* border-top: 1px solid var(--color-neutral-90); */
  background: var(--color-surface-accent);
  transition: all 0.2s ease-in-out;

  &:last-of-type {
    margin-bottom: 0;
    /* border-bottom: 1px solid var(--color-neutral-90); */
  }
}

.articleCard:hover {
  cursor: pointer;
  background: var(--color-accent-whisper);
  border: 1px solid rgba(var(--color-primary-rgb), var(--opacity-fade-half));
  /* border-top: 1px solid var(--color-primary); */

  /* &:last-of-type {
    border-bottom: 1px solid var(--color-primary);
  }

  & + .articleCard {
    border-top: 1px solid var(--color-primary);
  } */

  .title::after {
    transform: translate3d(0, 0, 0);
  }
}

.articleCardButtonHovered:hover {
  background: var(--color-surface-accent);
  border: 1px solid var(--color-neutral-90);

  /* &:last-of-type {
    border-bottom: 1px solid var(--color-neutral-90);
  }

  & + .articleCard {
    border-top: 1px solid var(--color-neutral-90);
  } */

  .title::after {
    transform: translate3d(-100%, 0, 0);
  }
}

.topRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: grid(6);
  align-items: flex-start;

  --author-date-hover-background: var(--color-accent-faint);
  --author-date-hover-border-color: rgba(
    var(--color-primary-rgb),
    var(--opacity-fade-half)
  );
}

.title {
  @include title-large;
  line-height: 2.8rem;
  color: var(--color-blue-20);
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: color 200ms;

  &::after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--color-accent);
    transition: transform 250ms;
    transform: translate3d(-100%, 0, 0);
  }
}

.description {
  color: var(--color-neutral-10);
  margin-top: -0.25rem;
}

.bottomRow {
  margin-top: grid(2);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.tags {
  max-width: 60%;
}

.tag {
  @include label-2xs;
  border-radius: grid(2);
  border: 1px solid rgba(var(--color-primary-rgb), 0.7);
  color: rgba(var(--color-primary-rgb), 0.9);
  padding: grid(1) grid(2);
  margin: 0 grid(1) 0 0;
  background: var(--color-neutral-100);
}

.favorite {
  padding: grid(2);
  border-radius: grid(1);
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;

  &:hover {
    border-color: var(--color-primary);
    background: var(--color-accent-light);
  }

  &:active {
    transform: scale(0.95);
  }
}

.favoriteButton:hover:not(:disabled) {
  background-color: var(--color-accent-faint);
}

.favoritePathOutline {
  fill: rgba(var(--color-primary-rgb), 0.7);
}

.favoritePathFill {
  fill: var(--color-primary);
}

.favoriteCount {
  margin-left: grid(1);
}
