@use 'functions' as *;
@use 'typography' as *;

.followButton {
  @include label-small;

  &:hover {
    .iconPath {
      fill: var(--color-primary);
    }
  }
}

.iconPath {
  transition: all 0.2s ease-in-out;
  fill: rgba(var(--color-primary-rgb), var(--opacity-fade-faint));
}

:global([data-surface='dark']) {
  .followButton {
    &:hover {
      .iconPath {
        fill: var(--color-primary);
      }
    }
  }

  .iconPath {
    fill: rgba(var(--color-surface-accent-rgb), var(--opacity-fade-light));
  }
}

.text {
  margin-left: grid(1);
}

.iconSvg {
  transform: translateY(-1px);
}
