@use 'functions' as *;
@use 'typography' as *;

$color-accent: var(--color-surface-accent);
$color-base: rgba(255, 255, 255, 0.7);

.container {
  background: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: grid(4) var(--page-margin-side);
  @include body-2xs;
  color: $color-base;
}

.widthContainer {
  display: flex;
  width: var(--page-max-width);
  vertical-align: baseline;
}

.name {
  @include slab-semibold;
  color: $color-accent;
  padding-right: grid(1);
}

.link {
  color: $color-accent;

  &:hover {
    color: $color-accent;
    text-decoration: underline;
  }
}
