@use 'functions' as *;
@use 'typography' as *;

$color-accent: var(--color-surface-accent);
$color-base: rgba(255, 255, 255, 0.7);

.footer {
  background: var(--color-primary);
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 var(--page-margin-side);
  @include body-2xs;
  color: $color-base;
  flex-shrink: 0;
  height: var(--footer-height);
}

.widthContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: var(--page-max-width);
  gap: grid(1);
}

.name {
  @include slab-semibold;
  color: $color-accent;
  padding-right: grid(1);
}

.link {
  color: $color-accent;

  &:hover {
    color: $color-accent;
    text-decoration: underline;
  }
}

.text {
  line-height: 1;
}
