@use 'functions' as *;
@use 'typography' as *;
@use 'mixins' as *;

.bannerOuter {
  --breadcrumbs-color-text: rgba(var(--color-primary-rgb, 0.7));
  --color-link-primary: var(--color-primary);
  --color-link-hover: var(--color-accent-light);
}

.bannerContent {
  height: 100%;
}

.titleRow {
  align-self: center;
}

.bannerTitle {
  @include headline-large;
  color: var(--color-primary);
  margin-bottom: grid(1);
  margin-top: grid(12);
}

.form {
  width: 100%;
  max-width: var(--article-max-width);
  display: flex;
  flex-direction: column;
}

.instructions {
  @include label-2xs;
  color: var(--color-neutral-50);
  margin-bottom: grid(5);
}

.fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  background: none;
  margin-bottom: grid(4);
}

.textareaBody {
  @include body-small;
  resize: vertical;
  width: 100%;
}

.inputTags {
  @include label-xs;
}

.button {
  align-self: flex-end;
}
