@use 'functions' as *;
@use 'typography' as *;
@use 'mixins' as *;

.bannerOuter {
  --breadcrumbs-color-text: rgba(var(--color-primary-rgb, 0.7));
  --color-link-primary: var(--color-primary);
  --color-link-hover: var(--color-accent-light);
}

.bannerContent {
  /* align-items: center;
  justify-content: center; */
  height: 100%;
}

.titleRow {
  align-self: center;
}

.bannerTitle {
  @include headline-large;
  color: var(--color-primary);
  margin-bottom: grid(1);
  margin-top: grid(12);
}

.instructions {
  @include label-2xs;
  color: var(--color-neutral-50);
  margin-bottom: grid(5);
}

.form {
  width: 100%;
  max-width: var(--article-max-width);
  display: flex;
  flex-direction: column;
}

.fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  background: none;
  margin-bottom: grid(4);
}

.input,
.textarea {
  border: none;
  padding: grid(3);
  margin-bottom: grid(5);
  background: var(--color-surface-accent);
  border-bottom: 1px solid currentColor;
}

.input:focus-visible {
  outline: none;
  box-shadow: inset 0 -2px 0 0 var(--color-focus-ring);
  border-bottom: 1px solid transparent;
}

.textarea:focus-visible {
  box-shadow: inset 0 0 0 2px var(--color-focus-ring);
  outline: none;
  border-bottom: 1px solid transparent;
}

.input::placeholder,
.textarea::placeholder {
  color: var(--color-neutral-70);
}

.textarea {
  resize: vertical;
}

.inputTitle {
  @include label-large;
}

.inputAbout {
  @include body-xs;
}

.articleBody {
  @include body-small;
  max-height: 800px;
  height: 160px;
}

.inputTags {
  @include label-xs;
}

.button {
  align-self: flex-end;
}
