@use 'functions' as *;
@use 'typography' as *;

.authorInfo {
  display: flex;
  border-radius: grid(2);
  transition: all 200ms ease-in-out;
}

.authorInfo.inline {
  align-items: center;
}

.hasBackgroundOnHover {
  margin-left: grid(-2);
  margin-top: grid(-2);
  padding: grid(2);
  border: 1px solid transparent;
}

.isHovered {
  background: var(--author-date-hover-background, none);
  border-color: var(--author-date-hover-border-color, none);

  .author {
    text-decoration: underline;
  }

  .date {
    color: var(--author-date-hover-color-date, var(--color-neutral-50));
  }
}

.hasBackgroundOnHover.isHovered {
  box-shadow: var(--shadow-xs);
}

.authorDate {
  display: flex;
  margin-left: grid(2);
}

.authorDate.stacked {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.authorDate.inline {
  align-items: center;
}

.author {
  @include sans-medium;
  @include label-small;
  display: block;
  color: var(--author-date-color-name, var(--color-primary));
}

.author.stacked {
  margin-bottom: grid(1);
}

.author.inline {
  margin-right: grid(1);
}

.authorInert {
  color: var(--author-date-color-name-inert, var(--color-text));
}

.date {
  @include label-2xs;
  color: var(--author-date-color-date, var(--color-neutral-60));
}

.divider {
  color: var(--author-date-color-date, var(--color-neutral-60));
}

.date.inline {
  margin-left: grid(1);
  position: relative;
  top: 1px;
  color: var(--author-date-color-date, var(--color-neutral-50));
}

.avatarFallback {
  stroke: var(--author-date-color-date, var(--color-neutral-60));
}
