@use 'functions' as *;
@use 'typography' as *;

.bannerOuter {
  --breadcrumbs-color-text: rgba(var(--color-primary-rgb, 0.7));
  --color-link-primary: var(--color-primary);
  --color-link-hover: var(--color-accent-light);
}

.bannerContent {
  align-items: center;
  justify-content: center;
  height: 100%;
}

.name {
  @include headline-large;
  color: var(--color-primary);
  margin-bottom: grid(1);
  margin-top: grid(12);
}

.description {
  @include body-medium;
  color: var(--color-blue-30);
}

.feedTypeTitle {
  @include label-xs-prominent;
  margin-bottom: grid(2);
}
