@use 'functions' as *;
@use 'typography' as *;

.feed {
  flex-grow: 1;
  flex-shrink: 0;
}

.noArticles {
  @include label-large;
  background: var(--color-warn-light);
  padding: grid(4) grid(6) grid(4) grid(6);
  border-radius: grid(1);
  margin-top: grid(5);
}
