@use 'functions' as *;
@use 'typography' as *;
@use 'mixins' as *;

$sidebar-gap: grid(6);

.bannerOuter {
  --banner-color-background: var(--color-surface);
  --breadcrumbs-color-text: rgba(var(--color-primary-rgb), 0.7);
  --color-link-primary: rgba(var(--color-primary-rgb), 0.7);
  --color-link-hover: var(--color-primary);
}

.bannerContent {
  padding: grid(4) 0 grid(2) 0;
  justify-content: space-between;
}

.titleRow {
  width: 100%;
  display: flex;
  align-items: flex-end;
  border-bottom: 6px solid var(--color-accent);
  gap: grid(2);
  justify-content: space-between;
  margin-bottom: grid(2);
  margin-top: grid(4);
}

.titleField {
  flex-grow: 1;
}

.fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  background: none;
  margin-bottom: grid(4);
}

.inputTitle {
  @include headline-large;
  display: inline-block;
  margin: grid(0) 0 0 0;
  padding: 0;
  border: none;
}

.textareaBody {
  width: 100% !important;
}

.lowerEditContainer {
  width: 100%;
}

.articleBody {
  @include markdown-content;
  flex-grow: 1;
  margin-bottom: grid(12);

  :first-child {
    margin-top: 0;
  }
}

.preview {
  padding-top: grid(2);
}

.tabsTrigger {
  @include label-small;
  padding: grid(2);
}

.activeTab {
  border-bottom: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.closeCircle {
  margin-right: grid(1);
}
