:root {
  --page-max-width: 1280px;
  --page-margin-side: 4%;
  --feed-tab-height: 44px;
  --header-height: 56px;
  --article-max-width: 800px;
  --sidebar-min-width: 240px;
  --content-min-width: 480px;
  --shadow-color: var(--color-text);
  --shadow-xs:
    0 1px 1.5px rgba(4, 20, 48, 0.1), 0 0.5px 0.75px rgba(4, 20, 48, 0.06);
  --shadow-sm:
    0 1px 2px rgba(4, 20, 48, 0.12), 0 1.5px 4px rgba(4, 20, 48, 0.08);
  --shadow-md: 0 2px 4px rgba(4, 20, 48, 0.14), 0 3px 6px rgba(4, 20, 48, 0.1);
  --shadow-lg:
    0 4px 6px -1px rgba(4, 20, 48, 0.1), 0 8px 16px -2px rgba(4, 20, 48, 0.08);
  --shadow-xl:
    0 8px 12px -2px rgba(4, 20, 48, 0.12), 0 16px 24px -4px rgba(4, 20, 48, 0.1);
  --shadow-sm-soft:
    0 1px 3px rgba(4, 20, 48, 0.12), 0 1px 2px rgba(4, 20, 48, 0.24);
  --shadow-sm-ultra-soft:
    0 1px 3px rgba(4, 20, 48, 0.06), 0 1px 2px rgba(4, 20, 48, 0.212);
  --shadow-sm-bottom-soft:
    0 1px 3px -1px rgba(4, 20, 48, 0.12), 0 1px 2px -1px rgba(4, 20, 48, 0.24);
  --shadow-sm-bottom-ultra-soft:
    0 1px 3px -1px rgba(4, 20, 48, 0.06), 0 1px 2px -1px rgba(4, 20, 48, 0.12);
  --shadow-md-spread:
    0 2px 6px rgba(4, 20, 48, 0.12), 0 2px 4px rgba(4, 20, 48, 0.24);
}
