@use './theme.scss';
@use './reset.scss';
@use './vars.scss';
@use 'typography' as *;

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab';
  src: url('/fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-slab: 'RobotoSlab', 'Segoe UI', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-sans);
  @include body-xs;
  color: var(--color-blue-10);
  background: var(--color-surface);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100vh;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

#root {
  width: 100%;
}

html {
  height: 100%;
  margin: 0;
}

h1 {
  @include display-large;
}

h2 {
  @include display-medium;
}

h3 {
  @include display-small;
}

h4 {
  @include headline-medium;
}

h5 {
  @include title-large;
}

h6 {
  @include title-medium;
}

a {
  font-weight: 500;
  color: var(--color-link-primary);
  text-decoration: inherit;
  cursor: pointer;
}

a:hover {
  color: var(--color-link-hover);
}

a:focus {
  outline: none;
}

a:focus-visible {
  outline: 2px solid var(--color-focus-ring);
  outline-offset: 2px;
}

button {
  background: none;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 2px auto var(--color-focus-ring);
  outline-offset: 2px;
}

:where(
  a[href],
  button,
  [role='button'],
  input:not([type='hidden']),
  select,
  textarea
):focus {
  outline: none;
  box-shadow: none;
}

:where(
  a[href],
  button,
  [role='button'],
  input:not([type='hidden']),
  select,
  textarea
):focus-visible {
  outline: 2px solid var(--color-focus-ring);
  outline-offset: 2px;
}

:where(
    a[href],
    button,
    [role='button'],
    input:not([type='hidden']),
    select,
    textarea
  ):focus:not(:focus-visible) {
  outline: none;
}
