@use 'functions' as *;
@use 'typography' as *;

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: grid(8);
  margin-bottom: grid(2);
  border-radius: grid(2);
  opacity: 0;
  animation: fadeIn 300ms ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0.25rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  @include title-large;
  margin-bottom: grid(6);
}

.text {
  @include label-large;
  color: var(--color-text);
}

.text:not(:last-of-type) {
  margin-bottom: grid(3);
}

.text:last-of-type {
  margin-bottom: grid(5);
}

.action {
  // color: var(--color-primary);
  // text-decoration: underline;
  @include label-small;
  // background: var(--color-surface-accent);
  color: var(--color-primary);
  border: 1px solid transparent;
  border-radius: grid(1);
  padding: grid(2);
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.actionText {
  margin-left: grid(2);
}

.action:hover:not(:disabled) {
  background: var(--color-accent-whisper);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
