@use 'functions' as *;
@use 'typography' as *;

.section {
  background: var(--color-blue-95);
  border: 1px solid var(--color-neutral-90);
  padding: grid(6);
  border-radius: grid(2);
  margin-top: grid(5);
}

.title {
  @include title-large;
  margin-bottom: grid(4);
}

.text {
  @include label-large;
  color: var(--color-text);
}

.text:not(:last-child) {
  margin-bottom: grid(4);
}

.actionLink {
  color: var(--color-primary);
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: var(--color-primary-light);
  }
}
