@use 'functions' as *;
@use 'typography' as *;
@use 'mixins' as *;

.comments {
  align-self: flex-start;
  padding-top: grid(8);
  border-top: 1px solid var(--color-neutral-90);
}

.header {
  @include title-small;
  margin-bottom: grid(6);
}

.commentBody {
  @include markdown-content;
  max-width: 800px;

  :first-child {
    margin-top: 0;
  }
}
