@use 'functions' as *;
@use 'typography' as *;

.contentSidePaddingLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--page-margin-side);
}

.contentMaxWidthLayout {
  display: flex;
  justify-content: space-between;
  max-width: var(--page-max-width);
  width: 100%;
  gap: grid(8);
  padding-top: grid(8);
  padding-bottom: grid(20);
  position: relative;
}

.loadingSpinnerContainer {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  // top: 20%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  background: var(--color-primary);
}

.loadingMessage {
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include label-small;
  white-space: nowrap;
  background: var(--color-accent-whisper);
  margin-bottom: grid(4);
  padding: grid(4) grid(6);
  border-radius: grid(2);
  border: 1px solid var(--color-neutral-80);
  z-index: 1000;
  animation: warmup 45s cubic-bezier(0.4, 0, 0.6, 1) forwards;
}

@keyframes pulse-background {
  0%,
  100% {
    background: var(--color-accent-whisper);
  }
  50% {
    background: var(--color-surface);
  }
}

@keyframes warmup {
  0% {
    color: var(--color-text);
  }
  50% {
    color: var(--color-primary);
  }
  100% {
    color: coral;
  }
}

.sidebarLayout {
  flex: 1 1 25%;
  min-width: var(--sidebar-min-width); // triggers horizontal scroll
}

.contentLayout {
  flex: 3 1 75%;
  min-width: var(--content-min-width); // triggers horizontal scroll
}

.textLayout {
  max-width: var(--article-max-width);
  width: 100%;
}
