@use 'functions' as *;
@use 'typography' as *;

.container {
  display: flex;
  align-items: center;
  color: var(--favorite-readout-color, var(--color-inert));
  flex-shrink: 0;
}

.favoriteSvg {
  flex-shrink: 0;
  stroke: none;
  fill: var(--favorite-readout-heart-fill, var(--color-inert-light));
}

.favoriteSvgOutline {
  stroke: var(--favorite-readout-heart-fill, var(--color-inert-light));
}

.favoriteCount {
  @include label-small;
  flex-shrink: 0;
  margin-left: grid(1);
  color: var(--favorite-readout-heart-fill, var(--color-inert-light));
  position: relative;
  top: 1px;
}

.loginText {
  @include body-2xs;
  display: inline-flex;
  margin-top: grid(2);
}

.loginLink {
  cursor: pointer;
  color: var(--favorite-readout-login-color, var(--color-primary));

  &:hover {
    color: var(--favorite-readout-login-color-hover, var(--color-primary));
    text-decoration: underline;
  }
}
