@use 'functions' as *;
@use 'typography' as *;

.container {
  display: flex;
  align-items: center;
  color: var(--favorite-readout-color, var(--color-inert));
  flex-shrink: 0;
}

.favoriteSvg {
  flex-shrink: 0;
}

.favoritePathOutline {
  fill: var(--favorite-readout-heart-outline, var(--color-inert-light));
}

.favoritePathFill {
  fill: var(--favorite-readout-heart-fill, var(--color-inert-light));
}

.favoriteCount {
  flex-shrink: 0;
  margin-left: grid(1);
}

.loginText {
  display: inline-block;
  margin-top: grid(1);
}

.loginButton {
  cursor: pointer;
  color: var(--favorite-readout-login-color, var(--color-inert));

  &:hover {
    color: var(--favorite-readout-login-color-hover, var(--color-primary));
    text-decoration: underline;
  }
}
