@use 'functions' as *;
@use 'typography' as *;
@use 'mixins' as *;

$sidebar-gap: grid(6);

.bannerComponent {
  --banner-color-background: var(--color-surface);
  --breadcrumbs-color-text: rgba(var(--color-primary-rgb), 0.7);
  --color-link-primary: rgba(var(--color-primary-rgb), 0.7);
  --color-link-hover: var(--color-primary);
}

.banner {
  padding: grid(4) 0 grid(2) 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.breadcrumbs {
  align-self: flex-start;
  min-height: 16px;
}

.articleTitle {
  @include headline-large;
  display: inline-block;
  color: var(--color-text);
  margin: grid(4) 0 0 0;
}

.titleRow {
  display: flex;
  align-items: flex-end;
  border-bottom: 6px solid var(--color-accent);
  gap: grid(2);
  justify-content: space-between;
}

.bannerAuthor {
  display: flex;
  align-items: center;
  margin-top: grid(2);

  .sidebarLabel {
    margin-right: grid(2);
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $sidebar-gap;
}

.sidebarCard {
  width: 100%;
  padding: grid(4);
  border-radius: grid(2);
  background: var(--color-surface-accent);
  border: 1px solid var(--color-neutral-95);
}

.sidebarStatic {
  border-top: 1px solid var(--color-neutral-90);
  padding-top: grid(5);
  margin-top: grid(5);
}

.sidebarLabel {
  @include label-2xs-caps;
  @include slab;
  margin-bottom: grid(2);
}

.sidebarLabel.date {
  margin-top: grid(5);
}

.followButton {
  --follow-button-padding: #{grid(1)} #{grid(2)} #{grid(1)} #{grid(1)};
  --follow-button-min-height: 36px;

  /* margin-left: grid(1) * -1; */
  width: 100%;
  margin-top: grid(3);
}

.favoriteButton {
  padding: #{grid(1)} #{grid(2)} #{grid(1)} #{grid(1)};
  min-height: 36px;
  width: 100%;
  justify-content: space-between;
  /* margin-left: grid(1) * -1; */
  margin-top: grid(1);
}

.favoriteReadout {
  --favorite-button-color: rgba(var(--color-text-rgb), 0.7);
  --favorite-button-heart-outline: rgba(var(--color-text-rgb), 0.5);
  --favorite-button-heart-fill: rgba(var(--color-text-rgb), 0.5);
  --favorite-readout-color: currentColor;
  --favorite-readout-login-color: var(--color-primary);
}

.articleBody {
  @include markdown-content;
  max-width: var(--article-max-width);
  flex-grow: 1;
  margin-bottom: grid(12);

  :first-child {
    margin-top: 0;
  }
}
