@use 'functions' as *;
@use 'typography' as *;
@use 'mixins' as *;

$sidebar-gap: grid(6);

.bannerOuter {
  --banner-color-background: var(--color-surface);
  --breadcrumbs-color-text: rgba(var(--color-primary-rgb), 0.7);
  --color-link-primary: rgba(var(--color-primary-rgb), 0.7);
  --color-link-hover: var(--color-primary);
}

.bannerContent {
  padding: grid(4) 0 grid(2) 0;
  justify-content: space-between;
}

.articleTitle {
  @include headline-large;
  display: inline-block;
  color: var(--color-text);
  margin: grid(4) 0 0 0;
}

.titleRow {
  display: flex;
  align-items: flex-end;
  border-bottom: 6px solid var(--color-accent);
  gap: grid(2);
  justify-content: space-between;
  margin-bottom: grid(2);
}

.bannerAuthor {
  display: flex;
  align-items: center;
  margin-top: grid(2);

  .sidebarLabel {
    margin-right: grid(2);
  }
}

.articleContent {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.articleBody {
  @include markdown-content;
  margin-bottom: grid(12);

  :first-child {
    margin-top: 0;
  }
}

.editButton {
  width: 100%;
  justify-content: center;
  margin-bottom: grid(3);
}

.editIcon {
  margin-right: grid(2);
  margin-left: -1 * grid(1);
}
