@use 'typography' as *;
@use 'functions' as *;

.overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  border-radius: 12px;
  max-width: 600px;
  padding: 2rem;
  box-shadow: 0 2px 40px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.title {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.description {
  @include body-xs;
  margin-bottom: 1rem;
  text-align: left;
}

.link {
  color: var(--color-link-primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: var(--color-link-hover);
  }
}

.dismissButton {
  margin-top: grid(4);
}

.openInNewIcon {
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  top: 2px;
  margin-left: grid(1);
}
