@use 'typography' as *;
@use 'functions' as *;

.modal {
  background: white;
  border-radius: 12px;
  width: clamp(300px, 600px, 90vw);
  max-height: 80vh;
  height: fit-content;
  overflow-y: auto;
  padding: 2rem;
  text-align: center;
  margin-top: 10vh;
}

.modal:focus {
  outline: none;
}

.title {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.description {
  @include body-xs;
  margin-bottom: 1rem;
  text-align: left;
}

.link {
  color: var(--color-link-primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: var(--color-link-hover);
  }
}

.dismissButton {
  margin-top: grid(4);
}

.openInNewIcon {
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  top: 2px;
  margin-left: grid(1);
}

.showMessageAgainRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: grid(1);
  margin-top: grid(2);
  cursor: pointer;

  @include body-2xs;
  color: var(--color-neutral-40);
}

.showMessageAgainText {
  position: relative;
  top: 1px;
}

.showMessageIcon {
  width: 20px;
  height: 20px;
  stroke-width: 1px;
}

.showMessageAgainRow.showMessageSelected {
  color: var(--color-text);
  .showMessageIcon {
    stroke: var(--color-text);
    stroke-width: 2px;
  }
}
