@use 'functions' as *;
@use 'typography' as *;
@use 'mixins' as *;

.input,
.textarea {
  border: none;
  padding: grid(3);
  margin-bottom: grid(8);
  background: var(--color-surface-accent);
  border-bottom: 1px solid currentColor;
  border-top-left-radius: grid(2);
  border-top-right-radius: grid(2);
  box-shadow: var(--shadow-xs);
}

.input:focus-visible {
  outline: none;
  box-shadow: inset 0 -2px 0 0 var(--color-focus-ring);
  border-bottom: 1px solid transparent;
}

.textarea:focus-visible {
  box-shadow: inset 0 0 0 2px var(--color-focus-ring);
  outline: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
}

.input::placeholder,
.textarea::placeholder {
  color: var(--color-neutral-70);
}

.textarea {
  resize: vertical;
  margin-top: grid(1);
}
