@use 'functions' as *;
@use 'typography' as *;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: calc(var(--z-index-modal) - 2);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--black-a10);
  width: 100%;
  height: 100%;
  z-index: calc(var(--z-index-modal) - 1);
}

.dialog {
  width: 360px;
  margin-top: 20vh;
  background: var(--color-surface-accent);
  border: 1px solid var(--color-neutral-90);
  border-radius: grid(2);
  padding: grid(4) grid(6) grid(6) grid(6);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--shadow-lg);
  z-index: var(--z-index-modal);
}

.closeButtonSvg:hover .closeButtonCircle {
  fill: var(--color-blue-90);
  stroke: var(--color-blue-70);
}

.closeButtonSvg:hover .closeButtonLine {
  stroke: var(--color-blue-70);
}

.closeButtonCircle {
  fill: var(--color-neutral-95);
  stroke: var(--color-neutral-90);
  stroke-width: 1;
}

.closeButtonLine {
  stroke: var(--color-neutral-60);
  stroke-width: 2;
}
