.main {
  flex: 1;
  background: var(--color-surface);
  overflow-y: hidden;
  // scrollbar-gutter: stable;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  display: flex;
  flex-direction: column;
}
