.main {
  flex: 1;
  background: var(--color-surface);
  overflow-y: auto;
  scrollbar-gutter: stable;
  min-height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
