@use 'functions' as *;
@use 'typography' as *;

.tag {
  @include label-xs;
  border-radius: grid(1);
  // background: var(--color-accent-faint);
  border: 1px solid rgba(36, 46, 247, 0.7);
  color: var(--color-primary);
  padding: grid(2) grid(3);
  margin: 0 grid(2) grid(2) 0;
  box-shadow: var(--shadow-xs);

  &:hover:not(.active) {
    border-color: var(--color-primary);
    background-color: var(--color-accent-faint);
  }
}

.active {
  border: 1px solid var(--color-primary);
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.skeletonRow {
  position: relative;
  overflow: hidden;
  background: var(--color-neutral-90); // fallback
  background-image: linear-gradient(
    to right,
    var(--color-neutral-90) 0%,
    var(--color-neutral-95) 20%,
    var(--color-neutral-90) 40%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;

  display: block;
  height: 32px;
  border-radius: grid(2);
  background: var(--color-neutral-90);
  margin-bottom: grid(2);
}

.skeletonRow:last-of-type {
  width: 60%;
}
