@use 'functions' as *;
@use 'typography' as *;

.tag {
  @include label-xs;
  border-radius: grid(1);
  // background: var(--color-accent-faint);
  border: 1px solid rgba(36, 46, 247, 0.7);
  color: var(--color-primary);
  padding: grid(2) grid(3);
  margin: 0 grid(2) grid(2) 0;

  &:hover:not(.active) {
    border-color: var(--color-primary);
    background-color: var(--color-accent-faint);
  }
}
