@use 'functions' as *;
@use 'typography' as *;

.tag {
  @include label-xs;
  border-radius: grid(1);
  // background: var(--color-accent-faint);
  border: 1px solid rgba(36, 46, 247, 0.7);
  color: var(--color-primary);
  padding: grid(2) grid(3);
  margin: 0 grid(2) grid(2) 0;
  box-shadow: var(--shadow-xs);

  &:hover:not(.active) {
    border-color: var(--color-primary);
    background-color: var(--color-accent-faint);
  }
}

.active {
  border: 1px solid var(--color-primary);
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

.skeletonRow {
  display: block;
  height: 32px;
  border-radius: grid(2);
  background: var(--color-neutral-90);
  margin-bottom: grid(2);
  // animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.skeletonRow:last-of-type {
  width: 60%;
}
