@use 'functions' as *;
@use 'typography' as *;

.bannerOuter {
  --banner-color-background: var(--color-primary-dark);
  --breadcrumbs-color-text: rgba(var(--color-surface-rgb), 0.7);
  --color-link-primary: rgba(var(--color-surface-rgb), 0.7);
  --color-link-hover: var(--color-surface);
}

.breadcrumbs {
  align-self: flex-start;
  min-height: 16px;
}

.bannerUserProfile {
  display: flex;
  flex-grow: 1;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: grid(4);
  gap: grid(8);
  margin-bottom: grid(3);
}

.bannerUserContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.userNameContainer {
  display: flex;
  align-items: center;
  margin: grid(4) 0 grid(2) 0;
}

.avatar {
  position: relative;
  bottom: 10px;
  margin-right: grid(3);
}

.avatarFallback {
  stroke: rgba(var(--color-surface-rgb), 0.7);
}

.bannerUserName {
  @include headline-large;
  color: var(--color-primary-light);
  margin-left: grid(2);
  position: relative;
}

.bannerUserBio {
  color: rgba(var(--color-surface-rgb), 0.8);
  // max-width: 600px;
}

.followButton {
  padding: #{grid(2)};
  min-height: 42px;
}

.name {
  @include headline-large;
  color: var(--color-primary);
  margin-bottom: grid(1);
}

.description {
  @include body-medium;
  color: var(--color-blue-30);
}

.feedTypeTitle {
  @include label-xs-prominent;
  margin-bottom: grid(2);
}
