@use 'functions' as *;
@use 'typography' as *;
@use 'mixins' as *;

.inputTitle {
  @include label-large;
}

.inputDescription {
  @include body-xs;
}

.inputTags {
  @include label-xs;
}

.inputBody {
  @include body-small;
  overflow-y: hidden;
  resize: vertical;
  flex-grow: 1;
  margin-bottom: grid(12);

  :first-child {
    margin-top: 0;
  }
}

.preview {
  @include markdown-content;
  resize: initial;
  margin-top: grid(1);
  padding-top: grid(1);
  min-height: var(--preview-min-height);
  margin-bottom: grid(12);
}

.tabsTrigger {
  @include label-small;
  padding: grid(2) grid(4);
}

.activeTab {
  border-bottom: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.disabledTab {
  color: var(--color-neutral-70);
}
