@use 'functions' as *;
@use 'typography' as *;
@use 'mixins' as *;

.input,
.textarea {
  border: none;
  padding: grid(3);
  margin-bottom: grid(8);
  background: var(--color-surface-accent);
  border-bottom: 1px solid currentColor;
  border-top-left-radius: grid(2);
  border-top-right-radius: grid(2);
  box-shadow: var(--shadow-xs);
}

.input:focus-visible {
  outline: none;
  box-shadow: inset 0 -2px 0 0 var(--color-focus-ring);
  border-bottom: 1px solid transparent;
}

.textarea:focus-visible {
  box-shadow: inset 0 0 0 2px var(--color-focus-ring);
  outline: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
}

.input::placeholder,
.textarea::placeholder {
  color: var(--color-neutral-70);
}

.textarea {
  resize: vertical;
  margin-top: grid(1);
}

.inputTitle {
  @include label-large;
}

.inputDescription {
  @include body-xs;
}

.inputTags {
  @include label-xs;
}

.inputBody {
  @include body-small;
  overflow-y: hidden;
  resize: vertical;
  flex-grow: 1;
  margin-bottom: grid(12);

  :first-child {
    margin-top: 0;
  }
}

.previewContainer {
  margin-top: grid(1);
  border-radius: 0.5rem;
  box-shadow:
    inset 2px 2px 5px rgba(0, 0, 0, 0.1),
    inset -2px -2px 5px rgba(255, 255, 255, 0.6);
}

.preview {
  @include markdown-content;
  resize: initial;
  padding-top: grid(1);
  min-height: var(--preview-min-height);
  margin-bottom: grid(12);
}

.tabsTrigger {
  @include label-small;
  padding: grid(2) grid(4);
}

.activeTab {
  border-bottom: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.disabledTab {
  color: var(--color-neutral-70);
}
