@use 'functions' as *;
@use 'typography' as *;

.label {
  @include label-xs-caps;
  @include slab-medium;
  margin-bottom: grid(2);
}

.selection {
  @include label-small-prominent;
  width: 100%;
  text-align: left;
  border-radius: grid(1);
  // background: var(--color-neutral-95);
  // border: 1px solid var(--color-neutral-80);
  padding: grid(3) grid(4);
  margin: 0;
  color: var(--color-primary);

  &:hover:not(.active) {
    color: var(--color-primary);
    background-color: var(--color-accent-faint);
  }

  &:not(:first-of-type) {
    margin-top: grid(0.5);
  }
}

.active {
  border-color: var(--color-primary);
  background: var(--color-primary);
  color: var(--color-surface-accent);
}
