@use 'functions' as *;
@use 'typography' as *;

.label {
  @include label-xs-caps;
  @include slab-medium;
  margin-bottom: grid(2);
}
.options {
  border: 1px solid var(--color-primary);
  border-radius: grid(1);
  box-shadow: var(--shadow-xs);
  overflow: hidden;
}

.option {
  list-style: none;
}

.button {
  @include label-small-prominent;
  width: 100%;
  text-align: left;
  padding: grid(3) grid(4);
  margin: 0;
  color: var(--color-primary);
  background-color: var(--color-surface-accent);

  &:hover:not(.active) {
    color: var(--color-primary);
    background-color: var(--color-accent-faint);
  }
}

.active {
  border-color: var(--color-primary);
  background: var(--color-primary);
  color: var(--color-surface-accent);
}
