@use 'functions' as *;
@use 'typography' as *;
@use 'mixins' as *;

$sidebar-gap: grid(6);

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $sidebar-gap;
}

.card {
  width: 100%;
  padding: grid(4);
  border-radius: grid(2);
  background: var(--color-surface-accent);
  border: 1px solid var(--color-neutral-90);
  position: sticky;
  top: 80px;
}

.articleActions {
  margin-top: grid(1);
  margin-bottom: grid(1);
}

.articleMetadata {
  border-top: 1px solid var(--color-neutral-90);
  padding-top: grid(4);
}

.articleTitleContainer {
  margin-bottom: grid(5);
  display: flex;
  flex-direction: column;
}

.articleTitle {
  @include slab;
}

.label {
  @include label-2xs-caps;
  @include slab;
  margin-bottom: grid(2);
}

.label.date {
  margin-top: grid(5);
}

.favoriteButton {
  padding: #{grid(1)} #{grid(2)} #{grid(1)} #{grid(1)};
  min-height: 36px;
  width: 100%;
  justify-content: space-between;
  @include label-xs;
  margin-bottom: grid(3);
  box-shadow: var(--shadow-xs);
}

.favoriteButton:hover:not(:disabled) {
  border: 1px solid var(--color-primary);
  background-color: var(--color-accent-whisper);
}

.favoriteReadout {
  --favorite-button-color: rgba(var(--color-text-rgb), 0.7);
  --favorite-button-heart-outline: rgba(var(--color-text-rgb), 0.5);
  --favorite-button-heart-fill: rgba(var(--color-text-rgb), 0.5);
  --favorite-readout-color: currentColor;
  --favorite-readout-login-color: var(--color-primary);
}

.followButton {
  border: 1px solid transparent;
  width: 100%;
  margin: grid(1) 0 0 0;
  @include label-xs;
}

.followButton:hover:not(:disabled) {
  border: 1px solid var(--color-primary);
  background-color: var(--color-accent-whisper);
}

.favoriteButton.selectedButton:not(:disabled),
.followButton.selectedButton:not(:disabled) {
  background: var(--color-accent-whisper);
  // box-shadow: var(--shadow-md);
}
