@use 'functions' as *;
@use 'typography' as *;

.loadingSpinnerContainer {
  flex: 1;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  animation: dim-background 3s cubic-bezier(0.4, 0, 0.6, 1) forwards;
}

.loadingMessage {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  @include label-small;
  white-space: nowrap;
  background: var(--color-accent-whisper);
  margin-bottom: grid(4);
  padding: grid(4) grid(6);
  border-radius: grid(2);
  border: 1px solid var(--color-neutral-80);
  z-index: 1000;
  animation: warmup 45s cubic-bezier(0.4, 0, 0.6, 1) forwards;
}

@keyframes dim-background {
  0% {
    background: var(--black-a3);
  }
  20% {
    background: var(--black-a10);
  }
  100% {
    background: var(--black-a10);
  }
}

@keyframes warmup {
  0% {
    color: var(--color-text);
    border: 1px solid var(--color-text);
    background: white;
  }
  50% {
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    background: color-mix(in oklab, var(--color-primary) 10%, white);
  }
  100% {
    color: coral;
    border: 1px solid coral;
    background: color-mix(in oklab, coral 10%, white);
  }
}
