@use 'functions' as *;
@use 'typography' as *;

.button {
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
  padding: var(--favorite-button-padding, #{grid(2)});
  background: var(--favorite-button-background);
  color: var(--favorite-button-color, var(--color-primary));
  border: 1px solid var(--favorite-button-border-color);
  border-radius: grid(1);
  min-height: var(
    --favorite-button-min-height
  ); // don't change height if icon is not there
}

.clickable {
  &:hover {
    background: var(
      --favorite-button-hover-background,
      var(--color-accent-light)
    );
    border-color: var(
      --favorite-button-hover-border-color,
      var(--favorite-button-border-color)
    );
    color: var(--favorite-button-hover-color, var(--color-primary));
  }

  &:active {
    transform: scale(0.95);
  }
}

.instructions {
  @include label-medium;
  margin-left: grid(1);
}

.instructionsWithIcon {
  margin-right: grid(3);
}

.favoritePathOutline {
  fill: var(
    --favorite-button-heart-outline,
    rgba(var(--color-primary-rgb), 0.7)
  );
}

.favoritePathFill {
  fill: var(--favorite-button-heart-fill, var(--color-primary));
}

.favoriteCount {
  margin-left: grid(1);
}

.plusIconSvg {
}

.plusIconPath {
  transition: all 0.2s ease-in-out;
  fill: var(--favorite-button-icon-color, var(--color-primary));
}

.countIcon {
  transform: translateY(1px);
  display: flex;
}
