@use 'functions' as *;
@use 'typography' as *;

.favoriteButton {
  display: flex;
  align-items: center;
  min-height: var(
    --favorite-button-min-height
  ); // don't change height if icon is not there
}

.clickable.noText {
  padding: grid(2);
  border-radius: grid(1);
  border: 1px solid transparent;
  background-image: none;
  margin-bottom: 0;

  &:hover {
    border: 1px solid rgba(var(--color-primary-rgb), 0.7);
  }
}

.iconLabelRow {
  display: flex;
  align-items: center;
}

.instructions {
  margin-left: grid(1);
}

.instructionsWithIcon {
  margin-right: grid(3);
}

.favoriteOutline {
  stroke: var(--favorite-button-heart-fill, var(--color-primary));
  fill: none;
}

.favoriteFill {
  fill: var(--favorite-button-heart-fill, var(--color-primary));
}

.favoriteCount {
  @include label-small;
  flex-shrink: 0;
  margin-left: grid(1);
  position: relative;
  top: 1px;
}

.plusIconPath {
  transition: all 0.2s ease-in-out;
  fill: var(--favorite-button-icon-color, var(--color-primary));
}

.countIcon {
  transform: translateY(1px);
  display: flex;
  align-items: center;
}
