@use 'functions' as *;
@use 'typography' as *;

.button {
  display: flex;
  align-items: center;
  min-height: var(
    --favorite-button-min-height
  ); // don't change height if icon is not there
}

.clickable.noText {
  &:hover {
  }
}

.instructions {
  @include label-medium;
  margin-left: grid(1);
}

.instructionsWithIcon {
  margin-right: grid(3);
}

.favoritePathOutline {
  fill: var(
    --favorite-button-heart-outline,
    rgba(var(--color-primary-rgb), 0.7)
  );
}

.favoritePathFill {
  fill: var(--favorite-button-heart-fill, var(--color-primary));
}

.favoriteCount {
  margin-left: grid(1);
}

.plusIconSvg {
}

.plusIconPath {
  transition: all 0.2s ease-in-out;
  fill: var(--favorite-button-icon-color, var(--color-primary));
}

.countIcon {
  transform: translateY(1px);
  display: flex;
}
