@use 'functions' as *;
@use 'typography' as *;
@use 'mixins' as *;

.field {
  display: flex;
  flex-direction: column;
}

.label {
  @include label-xs;
  display: flex;
  justify-content: space-between;
  margin-bottom: grid(2);
}

.required,
.optional {
  @include label-2xs;
  align-self: flex-end;
  display: flex;
}

.optional {
  color: var(--color-neutral-60);
}

.check {
  fill: var(--color-success-600);
}

.valid {
  color: var(--color-success-600);
  background: var(--color-success-100);
}

.requiredLabel {
  margin-left: grid(1);
}
