@use 'functions' as *;
@use 'typography' as *;

.dialog {
  width: 360px;
  margin-top: 20vh;
  background: var(--color-neutral-100);
  border: 1px solid var(--color-neutral-90);
  border-radius: grid(2);
  padding: grid(4) grid(6) grid(6) grid(6);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.signIn {
  @include headline-medium;
  @include sans-regular;
  margin-bottom: grid(3);
}

.otherAuthLink {
  color: var(--color-link-primary);
  opacity: 1;
  cursor: pointer;
}

.otherAuthLink:hover {
  text-decoration: underline;
}

.apiWarning {
  @include body-2xs;
  color: var(--color-blue-20);
  margin-bottom: grid(3);
}

.formRoot {
  width: 100%;
  margin-top: grid(4);
}

.formMessage {
  @include body-2xs;
  opacity: 0.7;
  color: red;
  margin-top: grid(2);
}

.submitButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
  width: 100%;
  background-color: var(--color-link-primary);
  color: var(--color-surface);
  box-shadow: var(--shadow-sm-soft);
  margin-top: grid(3);
}

.submitButton:hover {
  background-color: var(--color-link-hover);
}

.submitButton:focus {
  box-shadow: 0 0 0 2px black;
}

.submitButton:disabled {
  background-color: var(--color-blue-90);
  color: var(--color-blue-70);
  box-shadow: none;
}
