@use 'functions' as *;
@use 'typography' as *;

.formField {
  display: flex;
  flex-direction: column;
  margin-bottom: grid(3);
}

.formLabel {
  font-weight: 500;
  margin: grid(2) 0;
}

.formMessage {
  @include body-2xs;
  opacity: 0.7;
  color: red;
  margin-top: grid(2);
}

.input {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: grid(1);
  background-color: var(--black-a2);
  box-shadow: 0 0 0 1px var(--black-a6);
}

.input:hover {
  box-shadow: 0 0 0 1px black;
}

.input:focus {
  box-shadow: 0 0 0 2px black;
}

.input::selection {
  background-color: var(--black-a6);
}

.input {
  padding: 0 10px;
  height: 35px;
  line-height: 1;
}
