@use 'functions' as *;
@use 'typography' as *;

.formField {
  display: flex;
  flex-direction: column;
  margin-bottom: grid(3);
}

.formLabel {
  font-weight: 500;
  margin: grid(2) 0;
}

.formMessage {
  @include body-2xs;
  opacity: 0.7;
  color: red;
  margin-top: grid(2);
}

.input {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: grid(1);
  border: none;
  background-color: var(--color-neutral-95);
  box-shadow: 0 0 0 1px var(--black-a2);
}

.input:hover:not(:focus) {
  box-shadow: 0 0 0 1px black;
}

.input:focus {
  // box-shadow: 0 0 0 2px black;
}

.input:-webkit-autofill {
  background-color: var(--black-a6);
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  /* This creates an inner shadow that acts as a background color, effectively overriding the browser's default autofill background */
  -webkit-box-shadow:
    0 0 0px 1000px var(--color-blue-95) inset,
    0 0 0 1px var(--black-a2) !important;

  /* This ensures the text color remains readable against your new background */
  -webkit-text-fill-color: var(
    --color-text
  ) !important; /* Change #000000 to your desired text color */

  /* Optional: Prevents a default transition delay on autofill background */
  transition: background-color 5000s ease-in-out 0s;
}

.input {
  padding: 0 10px;
  height: 35px;
  line-height: 1;
}
