@use 'functions' as *;
@use 'typography' as *;
@use 'mixins' as *;

$border: 1px solid var(--color-neutral-90);

.leaveComment {
  display: flex;
}

.comment {
  border: $border;
  margin-bottom: grid(4);
  border-radius: grid(1);
  width: var(--article-max-width);
  background: var(--color-surface-accent);
  flex-shrink: 1;
}

.commentBody {
  padding: grid(6);
}

.commentAuthor {
  background: var(--color-neutral-95);
  border-top: $border;
  padding: grid(2) grid(6);
  display: flex;
  justify-content: space-between;
}

.leaveCommentAuthor {
  padding: grid(3) grid(6);
}

.textarea {
  border: none;
  padding: grid(6);
  width: 100%;
  flex: 1;
  resize: vertical;
}

.postButton {
  margin-left: auto;
}
